<section class="section-faq">
    <div class="container section-faq__section-faq">
        <div class="p-grid ">
            <div class="p-col-12">
                <h2>FAQ</h2>
                <p class="section-title-text">
                    Häufig gestellte Fragen:
                </p>
            </div>
            <div class="p-col-12 p-lg-6">
                <app-carousel carouselPage='faq'></app-carousel>
                <!-- <div class="section-faq-img-wrapper p-d-flex">
                    <img src="assets/faq-img.png" alt="faq-img" />
                </div> -->
            </div>
            <div class="p-col-12 p-lg-6">
                <div class="section-faq-content-wrapper p-d-flex p-flex-column">
                    <p class="section-faq-content-wrapper__text">
                        Fragen vom Auftraggeber
                    </p>
                    <p-accordion>
                        <p-accordionTab header="Wer ist packNmoov ?" [selected]="true">
                            <!-- <p class="accordionTab-description__text"> Wer ist packNmoov ?</p> -->
                            <p>packNmoov ist ein innovatives Team, welches aus ehrmaligen Studierenden besteht, die im Laufe ihres Studiums und auch danach als Helfer in dem Bereich langjährig tätig waren. Es steht für Sie als Ansprechpartner zur reinen Vermittlung von Umzugshelfer innerhalb Deutschlands.</p>    
                        </p-accordionTab>

                        <p-accordionTab header="Wie erfolgt die Vermittlung oder Buchung eines bzw. mehrerer Umzugshelfer ?">
                            <!-- <p class="accordionTab-description__text"> Wie erfolgt die Vermittlung oder Buchung von einem bzw. mehreren Umzugshelfern ?</p> -->
                            <p>Die Vermittlung erfolgt Online auf unserer Webseite oder in der Mobile-App, nachdem Sie darauf die erforderlichen Angaben angegeben und anschließend freigegeben haben. Jedoch können Sie entscheiden, ob Sie dies selber machen oder uns dafür beauftragen möchten. Nachdem die Helfer ausgewählt wurden, bekommen Sie ihrer Kontaktdaten von dem Service Team jedoch eine Woche frühestens vor dem Umzugsstart übermittelt.</p>    
                        </p-accordionTab>

                        <p-accordionTab header="Wie setzen die Gesamtkosten zusammen ?">
                            <!-- <p class="accordionTab-description__text"> Wie setzen die Gesamtkosten zusammen ?</p> -->
                            <p>Die Gesamtkosten bestehen aus Vermittlungsgebühr und dem Stundenlohn für die jeweiligen Helfer. Genau wie dies sich zusammensetzt, können Sie eine kleine Simulation auf unserer Webseite unter Angabe Ihrer Selektionskriterien durchführen.</p>    
                        </p-accordionTab>

                    </p-accordion>

                    <div class="p-inputgroup p-inputgroup-custom p-jc-start p-mt-5">
                        <button pButton type="button" label="mehr" routerLink="/register"
                            class="p-button-secondary p-inputgroup-custom-btn"></button>
                        <span class="p-inputgroup-addon p-button p-component p-inputgroup-custom-btn-arrow-icon">
                            <i class="pi pi-chevron-right "></i>
                        </span>
                    </div>
                </div>


                <div class="section-faq-content-wrapper p-d-flex p-flex-column">
                    <p class="section-faq-content-wrapper__text">
                        Fragen vom Helfer
                    </p>
                    <p-accordion>
                        <p-accordionTab header="Wie kann ich mich um ein Umzugsangebot bewerben ?" [selected]="true">
                           
                            <p>Nur registrierte Nutzer können sich für einen Umzug bewerben. Jedoch hast du dich für die Newsletter abonniert, kannst du direkt auf das entsprechende Umzugsangebot klicken und dich anschließend entweder registrieren, um die Bewerbung zu tätigen, oder direkt unter deiner bereits bestehenden Kennung auf die Bewerbung gelingen.</p>    
                        </p-accordionTab>

                        <p-accordionTab header="Kann auch für einen Umzugshelfer eine Rechnung gestellt werden ?">
                            
                            <p>Selbstverständlich wird auf Anfrage eine Rechnung vom Auftraggeber gestellt. Rechnungsformular kannst du auf unserer Webseite ganz gemütlich herunterladen und zum Umzug mitnehmen. </p>    
                        </p-accordionTab>

                        <p-accordionTab header="Wie erfolgt die Bezahlung ?">
                            
                            <p>Die Bezahlung für Helfer wird von dem Auftraggeber übernommen und zwar bar oder per Rechnungsüberweisung, aber dies wird auf der Anzeige vermerkt .</p>    
                        </p-accordionTab>

                    </p-accordion>

                    <div class="p-inputgroup p-inputgroup-custom p-jc-start p-mt-5">
                        <button pButton type="button" label="mehr" routerLink="/register"
                            class="p-button-secondary p-inputgroup-custom-btn"></button>
                        <span class="p-inputgroup-addon p-button p-component p-inputgroup-custom-btn-arrow-icon">
                            <i class="pi pi-chevron-right "></i>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>